/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/fastqrepair'

    qin                          = 33
    alphabet                     = "ACGTN"
}

// Impose sensible resource limits for testing
process {
    resourceLimits = [
        cpus: 2,
        memory: '3.GB',
        time: '1.h'
    ]
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Disable all Nextflow reporting options
timeline { enabled = false }
report   { enabled = false }
trace    { enabled = false }
dag      { enabled = false }