/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/fastqrepair -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test with Big Data Zoo dataset'
    config_profile_description = 'Full test with Big Data Zoo dataset'

    publish_dir_all_tools   = true
    chunk_size              = 40  // 40 lines per chunk, i.e., 10 reads

    // Input data for full size test
    // Give any required params for the test so that command line flags are not needed
    input = params.pipelines_testdata_base_path + 'fastqrepair/testdata/samplesheet_bigdatazoo.csv'
}
